Repository kelvintaywl-cci/test-circle-protected: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-app1, build-app2, build-app3

.circleci/config.yml:

version: 2.1

setup: true

orbs: 
  # continuation: circleci/continuation@0.2.0
  path: circleci/path-filtering@0.1.3

workflows:
  setup:
    jobs:
      - path/filter:
          config-path: .circleci/next.yml
          mapping: |
            apps/app1/.* build-app1 true
            apps/app2/.* build-app2 true
            apps/app3/.* build-app3 true

test
  apps/app3/app3.py
Due: build-app3

test
  .circleci/next.yml
Due: none

test
  apps/app1/bar.py
  apps/app2/buzz.py
Due: build-app1, build-app2

test
  apps/app1/bar.py
Due: build-app1

test
  .circleci/next.yml
  apps/app1/bar.py
Due: build-app1

Update next.yml
  .circleci/next.yml
Due: none

Update app3.py
  apps/app3/app3.py
Due: build-app3

Update buzz.py
  apps/app2/buzz.py
Due: build-app2

chore: debug env vars
  .circleci/next.yml
Due: none

fix: lookup
  .circleci/next.yml
Due: none

chore: update app1/*
  apps/app1/bar.py
Due: build-app1

use underscore for params and env vars instead, and fix comparators
  .circleci/config.yml
  .circleci/next.yml
Due: none

test: modify app3/*
  apps/app3/app3.py
Due: build-app3
